$background-color: #ccc;

$platform-background-color: #fff;
$platform-stroke-color: #000;

$switch-point-background-color: #fff;
$switch-point-border-color: #000;

$colosed-rail-color: #ff0000;
$colosed-rail-width: 2;

$open-rail-color: #000;
$open-rail-width: 1;

$trafic-light-background-color: #000;
$trafic-light-off-color: #888;
$trafic-light-go-color: limegreen;
$trafic-light-stop-color: #ff0000;
