.traficLightBackground {
    fill: $trafic-light-background-color;
}

.traficLightOff {
    fill: $trafic-light-off-color;
}

.traficLightGo {
    fill: $trafic-light-go-color;
}

.traficLightStop {
    fill: $trafic-light-stop-color;
}
