@import '../../variables';

.layout {
  width: 100vw;
  height: 100vh;
  background-color: $background-color;
  overflow: hidden;
}

// ダークモード対応
@media (prefers-color-scheme: dark) {
  .layout {
    background-color: $dark-background;
  }
}
