@import '../../../variables';

.traficLightBackground {
    stroke: $traffic-light-background-color;
}

.traficLightOff {
    fill: $traffic-light-off-color;
}

.traficLightGo {
    fill: $traffic-light-go-color;
}

.traficLightStop {
    fill: $traffic-light-stop-color;
}
